body {
    min-height: -webkit-fill-available;
    background-color: #7FFFD4;
    overflow: hidden;
  }

button {
  height: 50px;
  width: 200px;
}

h1 {
  font-weight: bold;
  margin-bottom: 50px;
}

img {
  background: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

input {
  height: 50px;
  width: 200px;
}

li {
  margin-bottom: 10px;
}

p {
  font-weight: bold;
  font-size: 40px;
}

a:hover {
  background-color: rgb(110, 78, 255);
}

.emoji {
  display: inline-block;
  width: 25px;
  text-align: center;
}

#middle-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


#cash {
  position: absolute;
  width: 100%;
}

#main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: center;
  width: 80%;
  height: 90%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 270px; bottom: 0; right: 0;
  border: solid black;
  background-color: #7FFFD4;
  overflow: hidden;
}

#sidebar {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 100vh;
  float: left;
}
