<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width", maximum-scale=1,user-scalable=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Personal Budget App</title>
    </head>

    <body>
        <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="/" class="nav-link text-white">
                 <div class="emoji">&#128202; </div> Dashboard
              </a>
            </li>
            <li>
              <a href="/income" class="nav-link text-white">
                <div class="emoji"> &#128178; </div> Add Income
              </a>
            </li>
            <li>
              <a href="/expense" class="nav-link text-white">
                <div class="emoji"> &#128179; </div> Add Expense
              </a>
            </li>
            <li>
              <a href="/login" class="nav-link text-white">
                <div class="emoji"> &#128187; </div> Login
              </a>
            </li>
            <li>
              <a href="/register" class="nav-link text-white">
                <div class="emoji"> &#9000; </div>Register
              </a>
            </li>
            <li>
              <a href="/logout" class="nav-link text-white">
                <div class="emoji"> &#128682; </div> Logout
              </a>
            </li>
          </ul>
          <hr>
        </div>
        <div id="main-page">
          {% block body %}{% endblock %}
        </div>

    </body>

</html>